/*External Style Sheet for John's Place Restaurant Site*/
@font-face{
    font-family: "Junction";
    font-style: normal;
    font-weight: normal;
    src: url("Junction.otf");
        
}
.header {
	text-align: center;	
	background-color: rgb(189, 255, 155);
}
.navTable{
	width: 1500px;
	font-family: Comic Sans MS;
	text-align: center;
	background-color: rgb(189, 226, 213);
}
.bodyTable{
	width: 1500px;
	font-family: Comic Sans MS;
	text-align: center;
	border: 0px;
	background-color:rgb(226, 255, 155);
}
.pageFooter{
	width: 1500px;
	font-family: Comic Sans MS;
	text-align: center;
	background-color:rgb(189, 255, 155);	
}
.backBody{
	background-color:rgb(226, 255, 155);
}
body        {background-color: palegoldenrod;}
a:link 		{color: DarkCyan; font-family: Comic Sans MS;}
a:visited 	{color: DarkGoldenRod;}
a:active 	{text-decoration: none;}
a:hover     {font-weight: bold;}
